<h1>Course Listing</h1

  <ul>
    <li>Code: CSS101</li>
    <li>Name: Introduction to Computer Science</li>
    <li>Description: A thorough intro to Computer Science</li>
  </ul>

  <ul>
    <li>Code: CSS102</li>
    <li>Name: Introduction to Computer Science</li>
    <li>Description: A thorough intro to Computer Science</li>
  </ul>
